html, body {
        height: 100%;
        width: 100%;
      }
      body {
        background: url(images/paisley.jpg) no-repeat;
      }
      .contentContainer {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
      }
      main {
        flex-grow: 1;
      }
      header, main, footer {
        flex-shrink: 0;
      }
      header, footer {
        background-color: #6DA34D;
      }
      .row {
        min-height: 505px;
        background-color: #EDEEC0;
      }
      .position-static {
        float: right;
        display: inline;
        margin-right: 50px;
      }
      .form-control:focus {
        box-shadow: none;
      }
      .btn-danger {
        float: right;
        display: inline;
        min-width: 31px;
      }
      #header {
        float: right;
        margin-top: 0.5rem;
      }
      ul {
          list-style: none;
      }
      li {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
      .strike {
          text-decoration: line-through;
      }
