<!DOCTYPE html>
<html lang="en" ng-app="myApp">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="CSS/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <title>First Project</title>
    <link rel="stylesheet" href="CSS/styles.css">
    <script src="JavaScript/angular.min.js"></script>
    </head>

  <body>
    <div class="contentContainer">
      <header class="container-fluid">
        <h1 class="text-center py-2 mb-0">Task List Application</h1>
      </header>

      <main class="container" ng-controller="myCtrl">
        <div class="row border">
          <div class="col-6 border-right" >
            <form class="pt-2 mt-2 sticky-top" id="form">
              <label for="input" class="form-control-label">Type in the task you would like to add:</label>
              <div class="input-group">
                <input type="text" id="input" class="form-control mb-2" autocomplete="off" value= "" ng-model="input">
                <div class="input-group-append">
                  <button class="btn btn-primary" id="button" type="button" style="max-height: 38px" ng-click="addTask()"><i class="fas fa-plus"></i></button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-6 border-left">
              <div class="border-bottom pb-2 mt-2">
                <h4 class="text-center d-inline">Task List</h4>
                  <div class="form-check" id="header">
                    <input class="form-check-input d-inline" type="checkbox" id="hide" ng-model="hide">
                    <label class="form-check-label d-inline" for="hide">Hide Completed Tasks</label>
                  </div>
              </div>
            <ul class="list my-2" id="list">
                <list-item ng-repeat="task in taskList"></list-item>
            </ul>
          </div>
        </div>
      </main>

      <footer class="container-fluid py-2">
        <p class="text-center my-2">Copyright 2019 Muhammad Jibril Arthur</p>
      </footer>
    </div>
    <script src="JavaScript/angular_task_list.js"></script>
    <script src="JavaScript/jquery.slim.min.js"></script>
    <script src="JavaScript/popper.min.js"></script>
    <script src="JavaScript/bootstrap.min.js"></script>

  </body>

</html>
